.statusContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.statusRow {
    display: grid;
    grid-template-columns: 1fr auto 1fr; /* label | icon | latency */
    align-items: center;
}

.statusLabel {
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
}

.statusIcon {
    text-align: center;
}

.statusLatency {
    text-align: right;
    padding-left: 10px;
}

.statusIcon i {
    vertical-align: middle;
}
